<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controller Methods</title>
    <script src="../angular-1.6.9/angular.min.js"></script>
</head>
<body>
    <!--In larger applications, it is common to store controllers in external files.-->
    <div ng-app="myApp" ng-controller="personCtrl">
        First Name: <input type="text" ng-model="firstName">
        Last Name: <input type="text" ng-model="lastName">
        <br>
        Full Name: {{fullName()}}
    </div>

    <script src="personController.js"></script>
</body>
</html>